[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
sqlalchemy = "*"
flask-jwt = "*"
flask-jwt-extended = "==4.6.0"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-marshmallow = "*"
python-dotenv = "*"
psycopg2 = "*"
marshmallow-sqlalchemy = "*"
requests = "*"
flask-migrate = "*"
sendgrid = "*"
itsdangerous = "*"
jinja2 = "*"
redis = "*"
nanoid = "*"
celery = {extras = ["redis"], version = "*"}
apscheduler = "*"
flask-apscheduler = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
